<div class="main_section">
	<div class="container-fluid mt-4 mr-4">
		<div id="toggle"></div>
		<div><button id="dlt-notice" class="btn btn-danger" style="margin-left: 53.5%; margin-top: -83px;">ডিলেট নোটিস</button></div>
		<div id="notice-area" style="width: 67%; margin-top: -23px;">
			<textarea id="notice-body" class="form-control" placeholder="এখানে নোটিস লিখুন..." autofocus></textarea>
		</div>
		<div class="row chat_container">

			<!--message_section-->
			<div class="col-sm-8 message_section">

				<div id="dlt"> <a href="javascript:">ডিলেট চ্যাট<i class="fas fa-trash-alt"></i></a></div>

				<!--new_message_head-->
				<div class="row">
					<div class="new_message_head">			
                        <div class="mr-4 text-center">
                            <h6><a href="/dashboard">চ্যাট রুম<i class="fas fa-arrow-circle-left"></i></a></h6>
							<div id="dw">
								<h6><a style="float: right; margin-right: 10px; margin-top: -35px;" href="javascript:">ডাউনলোড চ্যাট<i class="fas fa-arrow-circle-down"></i></a></h6>
							</div>
						</div>
					</div>
				</div>
				<!--new_message_head-->


				<!--chat_area-->
				<div id="chat1" class="chat_area ">	
					<div id="loaduser" style="text-align: center;">
						<a href="javascript:">আরো দেখব</a>
					</div>

					<ul id="chat" class="list-unstyled">
					</ul>
					<div>
						<a href="javascript:" id="jump-to-last"><i class="icon-chevron-up">&#9660;</i></a>
					</div>

				</div>
                <!--chat_area-->

			</div>

			<!--message_section-->

			<!--chat_sidebar-->
			<div class="col-sm-4 chat_sidebar float-right ">
				<div class="row ">

					<div class="new_message_head" id="time"> <button id="button" type="button" class="btn btn-danger"
							style="float: right; margin-right: 5px; margin-top: -156px;">লগ আউট</button>		
					</div>

				</div>

				<div id="users1" class="member_list" style= "width: 100%;">
					<div id="loadpending" style="text-align: center;">
						<a href="javascript:" >আরো দেখব</a>
					</div>
					<a href="javascript:" id="jump-to-last-pending"><i class="icon-chevron-up">&#9660;</i></a>

					<ul id="users" class="list-unstyled">

					</ul>
				</div>
			</div>
			<!--chat_sidebar-->
			<h2 style="display:none;" id="admin-usr"><%=name %></h2>

		</div>
	</div>
</div>

<script>

	$(function () {
		var socket = io.connect();
		var $chat = $('#chat');
		var $chat1 = $('#chat1');
		var $users = $('#users');
		var $users1 = $('#users1');
		var $user = $('#admin-usr').html();
		var $luser = $('#loaduser');
		var $lpending = $('#loadpending');
		var $delete = $('#dlt');
		var $dwn = $('#dw');
		var $toggle = $('#toggle');
		var $notice_area = $('#notice-area');
		var $notice_body = $('#notice-body');

		socket.emit('approved');
		socket.emit('pending');
		socket.emit('load chat');

		setInterval(function() {
			window.location.reload();
		}, 900000);

		// Active Response
		socket.on('response', () => {
			let t = moment().tz('Asia/Dhaka').format('a h:mm');
			socket.emit('actRes', { user: $user, time: t });
		});

		// Logout
		$("#button").click(function () {

			socket.emit('lg', $user);
			window.location.href = '/users/logout';

		});

		// Delete Notice
		$("#dlt-notice").click(function () {

			socket.emit('upd', '');

		});

		socket.on('registered', function(data, index) {

			$users.append('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-4"><p class="text-primary text-center"><b>' + data.name + '</b></p></div><div class="col-sm-4"><button class="btn btn-success" id="approve' + index + '" value="' + data.name + '" >Approve</button></div><div class="col-sm-4"><button class="btn btn-danger" id="disapprove' + index + '" value="' + data.name + '" >Delete</button></div> </div> </li>');

			const element = document.querySelector('#jump-to-last-pending')
			const value = element.style.display

			if (value == '' || value == "undefined" || value == "none") {
				$users1.scrollTop($users.get(0).scrollHeight);

			}

		});

		// Remove pending user
		socket.on('remove pending', function (data) {
			$("ul#users > li").each(function (index) {

				if ($(this).children().children().children().children().text() == data) {
					$(this).fadeOut("normal", function () {
						$(this).remove();
					});
				}
			});
		});

		// Remove approved user
		socket.on('remove approved', function (data) {
			$("ul#chat > li").each(function (index) {

				if ($(this).children().children().children().children("b").text() == data) {
					$(this).fadeOut("normal", function () {
						$(this).remove();
					});
				}
			});
		});

		// User role changed
		socket.on('role changed', function (data) {
			$("ul#chat > li").each(function (index) {

				if ($(this).children().children().children().children("b").text() == data.name) {
					var role = "Make Admin";
					if(data.isAdmin) {
						role = "Make User";
					}
					$(this).children().children(".access-role").children().text(role);//.replaceWith(role);
				}
			});
		});

		// Chat Option Toggled
		socket.on('toggled', function (data) {
			if (data) {
				var buttonClass = "btn-danger";
				var buttonText = "চ্যাট অফ";
			} else {
				var buttonClass = "btn-success";
				var buttonText = "চ্যাট অন";
			}

			$toggle.children().remove();
			$toggle.append('<button id="on-off" class="btn ' + buttonClass + '" style="margin-top: -35px;">' + buttonText + '</button>');
		});


		// Message submission
		$notice_area.keypress(function (e) {
			if (e.which == 13 && !e.shiftKey) {
				msg = $notice_body.val();
				if ($.trim(msg).length > 0) {
					socket.emit('upd', msg);
					$notice_body.val('');
				}
			}
		});


		var unread = 0;
		// New message append
		socket.on('new message', function (data) {

			unread++;
			document.title = "al-kamr(" + unread + ")";

		});

		// New user approved
		socket.on('new approved', function (data, index) {

			$chat.append('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-2"><p class="text-info text-center"><b>' + data.name + '</b></p></div><div class="col-sm-4 access-role"><button class="btn btn-success" id="change' + index + '" value="' + data.name + '" >Make Admin</button></div><div class="col-sm-2"><button class="btn btn-danger" id="delete' + index + '" value="' + data.name + '" >Delete</button></div><div class="col-sm-4"><p class="text-primary text-center"><i>Approved By ' + data.approvedBy + '</i></p></div> </div> </li>');

			const element = document.querySelector('#jump-to-last')
			const value = element.style.display

			if (value == '' || value == "undefined" || value == "none") {
				$chat1.scrollTop($chat.get(0).scrollHeight);

			}

		});

		// Load Chat Enable/Disable Button
		socket.on('l-toggle', function (data) {

			if (data) {
				var buttonClass = "btn-danger";
				var buttonText = "চ্যাট অফ";
			} else {
				var buttonClass = "btn-success";
				var buttonText = "চ্যাট অন";
			}

			$toggle.append('<button id="on-off" class="btn ' + buttonClass + '" style="margin-top: -35px;">' + buttonText + '</button>');
		});

		// Old approved users list
		socket.on('approved users', function (data) {

			if (data.length) {
				for (var x = 0; x < data.length; x++) {
					var roleBtn = "Make Admin";
					if (data[x].isAdmin) {
						roleBtn = "Make User";
					}
					if (!data[x].isSuperAdmin) {
						$chat.prepend('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-2"><p class="text-info text-center"><b>' + data[x].name + '</b></p></div><div class="col-sm-4 access-role"><button class="btn btn-success" id="change' + x + '" value="' + data[x].name + '" >' + roleBtn + '</button></div><div class="col-sm-2"><button class="btn btn-danger" id="delete' + x + '" value="' + data[x].name + '" >Delete</button></div><div class="col-sm-4"><p class="text-info text-center"><i>Approved By <b>' + data[x].approvedBy + '</b></i></p></div> </div> </li>');
					} else {
						$chat.prepend('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-2"><p class="text-info text-center"><b>' + data[x].name + '</b></p></div><div class="col-sm-4 access-role"><button class="btn btn-success" disabled id="change' + x + '" value="' + data[x].name + '" >' + roleBtn + '</button></div><div class="col-sm-2"><button class="btn btn-danger" disabled id="delete' + x + '" value="' + data[x].name + '" >Delete</button></div><div class="col-sm-4"><p class="text-info text-center"><i>Approved By <b>' + data[x].approvedBy + '</b></i></p></div> </div> </li>');
					}
				}
			}

			$chat1.scrollTop($chat.get(0).scrollHeight);
		});


		// Old pending users list
		socket.on('pending users', function (data) {

			if (data.length) {
				for (var x = 0; x < data.length; x++) {
					$users.prepend('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-4"><p class="text-info text-center"><b>' + data[x].name + '</b></p></div><div class="col-sm-4"><button class="btn btn-success" id="approve' + x + '" value="' + data[x].name + '" >Approve</button></div><div class="col-sm-4"><button class="btn btn-danger" id="disapprove' + x + '" value="' + data[x].name + '" >Delete</button></div> </div> </li>');
				}
			}

			$users1.scrollTop($users.get(0).scrollHeight);
		});

		// Approve
		$users.on('click', 'button[id^="approve"]', function () {
			var $val = $(this).attr('value');
			socket.emit('approve now', $val, $user);
		});

		// Disapprove
		$users.on('click', 'button[id^="disapprove"]', function () {
			var $val = $(this).attr('value');
			socket.emit('delete now', $val, 1);
		});

		// Delete
		$chat.on('click', 'button[id^="delete"]', function () {
			var $val = $(this).attr('value');
			socket.emit('delete now', $val, 2);
		});

		// Change Role
		$chat.on('click', 'button[id^="change"]', function () {
			var $val = $(this).attr('value');
			socket.emit('change role', $val);
		});

		// Chat On/Off
		$toggle.on('click', '#on-off', function () {
			socket.emit('toggle now');
		});

		// Load more approved users prepend
		socket.on('lm-users', function (data) {
			if (data.length) {
				for (var x = 0; x < data.length; x++) {
					var roleBtn = "Make Admin";
					if (data[x].isAdmin) {
						roleBtn = "Make User";
					}
					if (!data[x].isSuperAdmin) {
						$chat.prepend('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-2"><p class="text-info text-center"><b>' + data[x].name + '</b></p></div><div class="col-sm-4 access-role"><button class="btn btn-success" id="change' + x + '" value="' + data[x].name + '" >' + roleBtn + '</button></div><div class="col-sm-2"><button class="btn btn-danger" id="delete' + x + '" value="' + data[x].name + '" >Delete</button></div><div class="col-sm-4"><p class="text-info text-center"><i>Approved By <b>' + data[x].approvedBy + '</b></i></p></div> </div> </li>');
					} else {
						$chat.prepend('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-2"><p class="text-info text-center"><b>' + data[x].name + '</b></p></div><div class="col-sm-4 access-role"><button class="btn btn-success" disabled id="change' + x + '" value="' + data[x].name + '" >' + roleBtn + '</button></div><div class="col-sm-2"><button class="btn btn-danger" disabled id="delete' + x + '" value="' + data[x].name + '" >Delete</button></div><div class="col-sm-4"><p class="text-info text-center"><i>Approved By <b>' + data[x].approvedBy + '</b></i></p></div> </div> </li>');
					}
				}
			} else { $luser.hide(); }
		});

		// Load more pending users prepend
		socket.on('lm-pending', function (data) {
			if (data.length) {
				for (var x = 0; x < data.length; x++) {
					$users.prepend('<li class="left clearfix "> <div class="row chat-body1 clearfix "> <div class="col-sm-4"><p class="text-info text-center"><b>' + data[x].name + '</b></p></div><div class="col-sm-4"><button class="btn btn-success" id="approve' + x + '" value="' + data[x].name + '" >Approve</button></div><div class="col-sm-4"><button class="btn btn-danger" id="disapprove' + x + '" value="' + data[x].name + '" >Delete</button></div> </div> </li>');
				}
			} else { $lpending.hide(); }
		});


		// Jump to Last msg funtionality 
		var jump_to_button = $('#jump-to-last');
		$chat1.scroll(function () {

			if ($chat1.scrollTop() == 0) {
				$luser.fadeIn(200);
			} else { $luser.fadeOut(200); }

			var msgwind_height = $(this).height();
			var msg_position = ($(this).get(0).scrollHeight - $(this).scrollTop()); /* Arbitrary calculation */
			var scroll_distance = (msg_position - msgwind_height);
			var lastmsg_height = $(this).find('li:last-child').height();
			if (scroll_distance >= lastmsg_height) {
				jump_to_button.fadeIn(200);    // Fade in the arrow
			} else {
				jump_to_button.fadeOut(200);   // Else fade out the arrow
			}
		});
		jump_to_button.click(function () {      // When arrow is clicked
			$chat1.animate({
				scrollTop: $chat.get(0).scrollHeight       // Scroll to last msg
			}, 500);
		});

		// Jump to Last msg funtionality 
		var jump_to_button_pending = $('#jump-to-last-pending');
		$users1.scroll(function () {

			if ($users1.scrollTop() == 0) {
				$lpending.fadeIn(200);
			} else { $lpending.fadeOut(200); }

			var msgwind_height = $(this).height();
			var msg_position = ($(this).get(0).scrollHeight - $(this).scrollTop()); /* Arbitrary calculation */
			var scroll_distance = (msg_position - msgwind_height);
			var lastmsg_height = $(this).find('li:last-child').height();
			if (scroll_distance >= lastmsg_height) {
				jump_to_button_pending.fadeIn(200);    // Fade in the arrow
			} else {
				jump_to_button_pending.fadeOut(200);   // Else fade out the arrow
			}
		});
		jump_to_button_pending.click(function () {      // When arrow is clicked
			$users1.animate({
				scrollTop: $users.get(0).scrollHeight       // Scroll to last msg
			}, 500);
		});


		// load more onclick
		$luser.click(function () {

			// load more message emit
			var msgnow = $chat.children().length;
			socket.emit('loaduser', msgnow);

		});

		// load more onclick
		$lpending.click(function () {

			// load more message emit
			var msgnow = $users.children().length;
			socket.emit('loadpending', msgnow);

		});

		// Delete
		$delete.click(function () {
			socket.emit('dlt');
			location.reload();
		});

		// Download
		$dwn.click(function () {
			socket.emit('dwn');
			window.open('/download', '_blank');
		});

	});
</script>