
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-sign-in-alt"></i> লগইন
        </h1>
        <% include ./partials/messages %>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="username">ব্যবহারকারীর নাম</label>
            <input
              type="username"
              id="name"
              name="name"
              class="form-control"
              placeholder="নাম লিখুন"
            />
          </div>
          <div class="form-group">
            <label for="password">পাসওয়ার্ড</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="পাসওয়ার্ড লিখুন"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">লগইন</button>
        </form>
        <p class="lead mt-4">
          একাউন্ট খোলা হয়নি? <a href="/users/register">রেজিস্টার</a>
        </p>
      </div>
    </div>
  </div>
</div>
