
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h2 style="display:none;" id="usr"><%=name %></h2>
        <h1 class="text-center mb-3">
          <i class="fas fa-key"></i> পাসওয়ার্ড পরিবর্তন ফরম
        </h1>
        <% include ./partials/messages %>
        <form action="/password" method="POST">
          <div class="form-group" style="display:none;">
            <label for="username">ব্যবহারকারীর নাম</label>
            <input
              type="username"
              id="name"
              name="name"
              class="form-control"
              placeholder="নাম লিখুন"
              value="<%=name %>"
            />
          </div>
          <div class="form-group">
            <label for="password">পাসওয়ার্ড</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="পাসওয়ার্ড লিখুন"
            />
          </div>
          <div class="form-group">
            <label for="password2">সু্নিশ্চিত পাসওয়ার্ড</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="সু্নিশ্চিত পাসওয়ার্ড লিখুন"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">সেভ করুন</button>
        </form>
        <p class="lead mt-4">
          <a href="/dashboard">চ্যাট রুম<i class="fas fa-arrow-circle-left"></i></a>
        </p>
      </div>
      <h2 style="display:none;" id="pass-usr"><%=name %></h2>
    </div>
  </div>
</div>

<script>

	$(function () {
		var socket = io.connect();
		var $user = $('#pass-usr').html();

    setInterval(function() {
			window.location.reload();
		}, 900000);

		// Active Response
		socket.on('response', () => {
			let t = moment().tz('Asia/Dhaka').format('a h:mm');

      socket.emit('actRes', { user: $user, time: t });
    });

    var unread = 0;
		// New message append
		socket.on('new message', function (data) {

			unread++;
			document.title = "al-kamr(" + unread + ")";

		});

	});
</script>